body {
    font-family: 'Comfortaa', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #e8e3d0;
    color: #323232;
}

header {
    margin-bottom: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#titleImage {
    width: 90%; /* Adjusted to be responsive */
    max-width: 400px;
    margin-top: 20px;
  }

.chef-image, .sushi-image, .prep-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.grey-button {
    background-color: #ccc;
	font-family: 'Comfortaa', sans-serif;
	width: 200px;
        color: #323232;
}

.red-button {
    background-color: #0b42ab;
	font-family: 'Comfortaa', sans-serif;
    color: white;
	width: 200px;
}

.progress-bar {
    width: 50%;
    height: 10px;
    background-color: #cccccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress_1 {
    width: 25%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}

.progress_2 {
    width: 50%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}

.progress_1 {
    width: 25%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}

.progress_2 {
    width: 50%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}

.progress_3 {
    width: 75%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}

.progress_4 {
    width: 100%;
    height: 100%;
    background-color: #0b42ab;
    border-radius: 10px;
}


.question-box {
    background-color: #94b2a4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.option-button {
    background-color: #ccc;
    color: #323232;
}

.option-button.selected {
    background-color: #0b42ab;
    color: white;
}

#step3 .options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#step3 .option-button {
    width: 100%;
    margin-bottom: 10px;
}

#step4 .options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#step4 .option-button {
    width: 100%;
    margin-bottom: 10px;
}

.surprise-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px; /* Adjust as needed */
}

.surprise-button {
    width: 100%;
    max-width: 250px; 
    background-color: #ccc;
    padding: 10px 0; /* Adjust vertical padding as needed */
}

.recommendation-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

#restart-button {
    margin-top: 20px;
}


#menu {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.menu-item{
    /*background-color: #902930;*/
    margin: 0px;
    margin-top: 10px;
    width: 400px;
    height: 200px;
    padding: 3px;
}

.menu-item:hover{
    background-color: #000;
    color: white;
    -webkit-transition: background-color 0.4s;
    -moz-transition:    background-color 0.4s;
    -ms-transition:     background-color 0.4s;
    -o-transition:      background-color 0.4s;
    transition:         background-color 0.4s;
}

.menu-header{
    background-color: #0b42ab;
    color: #fff;
    float: left;
    margin: 5px;
    width: 380px;
    height: 20px;
    padding: 5px;
    padding-top:7px;
    font-size: 15px;
}

.menu-img{
    /*background-color: #465273;*/
    float: left;
    margin: 5px;
    width: 100px;
    height: 150px;
}

.menu-text{
    /*background-color: #00AAEE;*/
    float: left;
    margin: 5px;
    margin-left: 15px;
    width: 250px;
    height: 150px;
    font-size: 13px;
    text-align: left;
}

.item-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.item-author{
    
}

.item-abstract{
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 12px;
}

.item-more{
    margin-top: 5px;
    font-size: 12px;
}

.start-over-button {
    margin-top: 30px;
    background-color: #08090a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 200px;
    font-family: 'Comfortaa', sans-serif;
}
.start-over-button:hover {
    background-color: #0b42ab;
}


#bottom-box{
    margin-top: 30px;
    float:left;
}

#chef-box{
    float:left;
    width: 100px;
    margin-top: 20px;
}

#reason-box{
    float:left;
    width: 250px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 11px;
    line-height: 16px;
    padding: 10px;
    text-align: left;
}

